body{
    background-color: rgb(61, 55, 55);
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
}
nav{
    background-color: goldenrod;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px;
    }
    .link{
    text-decoration: none;
    font-size: 35px;
    color: snow;
    font-family: 'Ubuntu';
    margin: 20px;
    }
    .link:hover{
        font-weight: bolder;
        color: black;
    }
    .nusin{
        border: 3px solid goldenrod;
        height: 100%;
        text-align: center;
    }